* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), linear-gradient(150deg, #0bd5c1, #028376);
  ;
}

.container {
  max-width: 800px;
  padding: 20px 0 30px 0;
  margin: 100px auto;
  background-color: #F6F6F6;
  border-radius: 8px;
}git pull origin

.task-input {
  padding: 15px;
  background-color: #009688;
  position: relative;
}

.plus {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #FFF;
  right: 10px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  color: #009688;
  cursor: pointer;
  font-size: 40px;
  transition: transform 0.3s ease;
}

.plus:hover {
  transform: rotate(90deg);
}

.task-input input {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  background-color: rgba(255, 255, 255, .8);
  width: calc(100% - 15px);
  font-size: 20px;
}

.task-input input:focus,
.task-input input.active {
  outline: none;
}

.task-input input::placeholder {
  color: #8c8c8c;
}

.controls {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.filters span {
  margin: 0 10px;
  font-size: 24px;
  cursor: pointer;
}

.filters span:first-child {
  margin-left: 0;
}

.filters span.active {
  color: #009688;
  border-bottom: 2px solid #009688;
}

.controls .del-all {
  border: none;
  opacity: 0.5;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  pointer-events: none;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, #00d0bb 0%, #009688 100%);
}

.del-all.active {
  opacity: 0.9;
  pointer-events: auto;
}

.del-all:active {
  transform: scale(0.9);
}

.task-box {
  margin-top: 10px;
  margin-right: 5px;
  padding: 10px;
  overflow-y: auto;
  max-height: 400px;
}

.task-box::-webkit-scrollbar {
  width: 10px;
}

.task-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.task-box::-webkit-scrollbar-thumb {
  background: #009688;
  border-radius: 25px;
}

.task-box .content {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.task-box .content:first-child {
  margin: 0 auto;
}

.task-box .task {
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  align-items: flex-start;
}

.task-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.task-box .task label {
  display: flex;
  align-items: flex-start;
}

.task label input {
  margin-top: 5px;
  accent-color: #009688;
}

.task label p {
  font-size: 20px;
  user-select: none;
  margin-left: 10px;
  word-wrap: break-word;
}

.task label p.checked {
  text-decoration: line-through;
}

.settings span {
  cursor: pointer;
}

.settings span:first-child {
  font-size: 22px;
}

.settings span:last-child {
  color: red;
  font-size: 24px;
  margin-left: 10px;
}

.task-stats {
  padding: 20px 10px 0 10px;
  margin: 10px auto;
  font-size: 24px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-stats .tasks-count span,
.task-stats .tasks-completed span {
  color: #FFF;
  padding: 1px 5px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
}

.task-stats .tasks-count span {
  background-color: #E91E63;
}

.task-stats .tasks-completed span {
  background-color: #009688;
}

@media (max-width: 800px) {
  body {
    padding: 0 10px;
  }

  .container {
    padding: 20px 0;
  }

  .controls .del-all {
    padding: 5px;
    font-size: 16px;
  }

  .filters span {
    margin: 0 5px;
    font-size: 18px;
  }

  .task-input {
    padding: 10px 20px;
  }

  .controls {
    padding: 10px 10px;
  }

  .task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }

  .task label input {
    margin-top: 4px;
  }

  .settings span {
    font-size: 18px;
  }

  .task-stats {
    font-size: 18px;
  }
}